.TodoItem, .TodoItem-completed {
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    font-weight: 300;
    font-size: 24px;
    color: #4d4d4d;
    border: 1px solid black;
    width: 500px;
    height:50px;
    margin: auto auto;
    display: grid;
    grid-template-columns: 50px auto 50px;
}

.TodoItem p {
    margin-top: 10px;
}

.TodoItem-completed p {
    margin-top: 10px;
    opacity: 0.3;
}

img {
    width: 30px;
    height: 30px;  

    margin-top: 10px;
    margin-left: 5px;
}

.edit {
    display: none;
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    font-weight: 300;
    font-size: 24px;
    color: #4d4d4d;
    border: 1px solid black;
    width: 445px;
    height:45px;
    margin: auto auto;
}

.editing p {
    display: none !important;
}

.editing .edit { 
    display: block;
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    font-weight: 300;
    font-size: 24px;
    color: #4d4d4d;
    border: 1px solid black;
    width: 445px;
    height:45px;
    margin: auto auto;  
}

.TodoItem .delIcon, .TodoItem-completed .delIcon {
    display: none;
}

.TodoItem:hover .delIcon, .TodoItem-completed:hover .delIcon { 
    display: block;
    cursor: pointer;
}
